Flask==1.0.3
Flask-Bootstrap==3.3.7.1
Flask-Cors==3.0.8
Flask-Email==1.4.4
Flask-Mail==0.9.1
Flask-Migrate==2.5.3
Flask-Moment==0.9.0
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
pytest==5.3.5
testpath==0.4.2
Flask-Login==0.5.0
email-validator==1.0.5
validators==0.14.1
Faker==4.1.0
bleach==3.3.0
Markdown==3.2.2
Flask-PageDown==0.3.0
Flask-HTTPAuth==4.0.0
httpie==2.1.0
coverage==5.1
selenium==3.141.0

